doctype
html 
	head
		title Wall
		link(rel="stylesheet" href="./main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header
			nav.white.black-text.center
				ul.spotlight
					li.center Spotlight blog
					li
						a(href="/profile").black-text Profile
					li
						a(href="/myposts").black-text My Posts
					li
						a(href="/logout").black-text Logout
		.rows
			img#image(src="/images/copy.png").col.s12responsive-img
		div#everyblog
			h1.center#walltitle.amber-text.lighten-2 Wall
			each post in everypost
				//- info and users (below) refers to the key in the objects you render
				each user in users
					if post.userId === user.id 
						//-	userId refers to the column name in comments === to the individuals who wrote the comment, do this:
						div#border.z-depth-4
							p#static #{user.username} wrote:
							p#blogbody Title: #{post.title}
							p#blogbody Blog: #{post.blog}
							div.comments
								each comment in post.comments
									each user in users
										if comment.userId === user.id
											p.comment
												p#static #{user.username} commented: 
												p#blogbody #{comment.comments}
												//- comments.comments (alias.columnname)

						br
						br
						form(name="form" method="post" action="/comments" id="commentform")
							label Comment:
							input#password(type="text" name="comments" placeholder="Comment..." required)
							input(type='hidden' name='blogId' value=post.id)
							br
							br
							button(type="submit").btn.amber.lighten-2.waves-effect.waves-light.black-text  Submit
								i.material-icons.right send  
							br
							br
							br