doctype
html 
	head
		title Wall
		link(rel="stylesheet" href="./main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header
			nav.white.black-text.center(id="spotlight") Spotlight blog
				a(href="register/new").brand-logo.black-text.right Register
		.rows
			img#image(src="/images/backgroundimage.png").col.s12responsive-img
		div#allblogs
			h1.center The Wall 
			each post in everypost
				//- info and users (below) refers to the key in the objects you render
				each user in users
					if post.userId === user.id 
						//-	userId refers to the column name in comments === to the individuals who wrote the comment, do this:
						p#para #{user.username} wrote:
						a(href="/post/" + post.id)
							p Title: #{post.title}
						p Blog: #{post.blog}
							div.comments
								each comment in post.comments
									each user in users
										if comment.userId === user.id
											p.comment
												p#para #{user.username} commented: 
												p #{comment.comments}  
												//- comments.comments (alias.columnname)
								form(name="form" method="post" action="/comments")
									label Comment:
									input#password(type="text" name="comments" placeholder="Comment..." required)
									input(type='hidden' name='blogId' value=post.id)
									br
									br
									button(type="submit").btn.amber.lighten-2.waves-effect.waves-light.black-text  Submit 

			a(href='/myposts')
				button.button(type=button) Return Back
				


		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript" src="js/materialize.min.js")


		